@import "tailwindcss";

body {
  background-color: #111827;
  /* gray-900 */
  color: #f3f4f6;
  /* gray-100 */
}

.card-running {
  border-left: 8px solid #22c55e;
}

.card-idle {
  border-left: 8px solid #eab308;
}

.card-done {
  border-left: 8px solid #3b82f6;
}